@keyframes apulser-fade-1 {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.08);
    opacity: 0.7;
  }
}

@keyframes apulser-fade-2 {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.08);
    opacity: 0.5;
  }
}

@keyframes apulser-fade-3 {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.08);
    opacity: 0.2;
  }
}