name: Discord Merge Notification

on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  notify:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Discord Notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          title: "PR Merged to main"
          description: |
            **${{ github.event.pull_request.title }}**

            Merged by: ${{ github.event.pull_request.merged_by.login }}
            Author: ${{ github.event.pull_request.user.login }}

            [View PR](${{ github.event.pull_request.html_url }})
          color: 0x238636
